{% extends "base.njk" %}

{% block title %}Chats{% endblock %}

{% block content %}
<h2>Lista de Chats</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Contenido</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for chat in chats %}
    <tr>
      <td>{{ chat.id }}</td>
      <td>{{ chat.clientid }}</td>
      <td>{{ chat.content }}</td>
      <td>{{ chat.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}